@model IEnumerable<Domain.Entities.EventTitle>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.ActionLink("Главная", "Index", "Home")<br />
<h2>Список мероприятий</h2>

@if (TempData["message"] != null)
{
    <div class="form-group">
        <span class="text-info">@TempData["message"]</span>
    </div>
}
<table class="table">
    <thead class="thead-default">
    <tr>
        <th>Название</th>
        <th>Начало проведения</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach(var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Title, "Show", new{item.IdEvent})</td>
                    <td class="text-left">@item.StartDateTime</td>
                    <td>@Html.ActionLink("Регистрация", "Registration", new{item.IdEvent})</td>
                </tr>
            }
        }
    </tbody>
</table>